@charset "utf-8";

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 9px;
}

/* 外层轨道 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(255, 0, 0, 0.3);

    background: rgba(255, 255, 255, 0.1);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
}

.json-schema-react-editor {
    font-size: 14px;
}

.json-schema-react-editor .array-item-type {
    text-align: left
}


.json-schema-react-editor .add-btn {
    margin: 8px;
}

.json-schema-react-editor .pretty-editor {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 800px;
}

.json-schema-react-editor .import-json-button {
    margin: 5px;
}

.json-schema-react-editor .certain-category-search .ant-select-selection--single {
    height: 32px;
}

.json-schema-react-editor .certain-category-search .ant-select-search__field__wrap {
    display: unset;
}


.nestable-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.nestable-icon:before {
    content: '-';
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 20x20 */
.icon-plus-gray {
    width: 20px;
    height: 20px;
}

.icon-minus-gray {
    width: 20px;
    height: 20px;

}

.nestable {
    position: relative;
}

.nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 24px;
    list-style-type: none;
}

.nestable > .nestable-list {
    padding: 0;
}

.nestable-item,
.nestable-item-copy {
    margin: 10px 0 0;
}

.nestable-item:first-child,
.nestable-item-copy:first-child {
    margin-top: 0;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    margin-top: 10px;
}

.nestable-item {
    position: relative;
}

.nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}

.nestable-item.is-dragging * {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 25px;
    right: 0;
    bottom: 0;
    background: #87ceeb;
    border: 1px dashed #4682b4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nestable-item-icon {
    margin-right: 5px;
    cursor: pointer;
}

.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

.schema-content {
    padding-right: 15px;
}

.schema-item-actions {
    white-space: nowrap;
    width: 58px;
}

.schema-item {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    justify-content: flex-end;
}

.schema-item .schema-item-name {
    position: relative;
}

.schema-item .schema-item-name .field-badge {
    position: absolute;
    inset-inline-end: calc(9px + var(--reserved, 0px));
    padding: 2px 3px 3px;
    background: #749abf;
    line-height: 1;
    display: flex;
    height: 13px;
    width: 14px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
    top: calc(50% - 6px);
    cursor: default;
}
.field-badge.required-badge {
    background: rgb(244, 67, 54) !important;
}

.schema-item .schema-item-name .field-badge + .field-badge {
    inset-inline-end: calc(26px + var(--reserved, 0px));
}
.schema-item .schema-item-name .field-badge + .field-badge + .field-badge {
    inset-inline-end: calc(43px + var(--reserved, 0px));
}
.schema-item .schema-item-name .field-badge + .field-badge + .field-badge + .field-badge {
    inset-inline-end: calc(60px + var(--reserved, 0px));
}

.schema-item .schema-item-name .ant-input-group-addon > span {
    margin-right: 6px;
    display: inline-block;
}

.schema-item .schema-item-name .ant-input-group-addon > span:last-child {
    margin-right: 0;
}

.schema-item .schema-item-name .ant-input-group-addon > span:first-letter {
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 0 4px;
    background-color: #d9d9d9;
    height: 15px;
    font-size: 13px;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}

.schema-item .type-select-style {
    min-width: 150px !important;
    flex: 0;
}

.schema-item .type-select-style *:nth-child(1) {
    flex: auto;
}

.schema-item .schema-item-actions {
    min-width: 96px !important;
    flex: 0;
}

.schema-item .schema-item-description {
    min-width: 32px;
    flex: 0;
}

.schema-item .schema-item-desciption-button.active {
    color: black;
}

.schema-item .schema-item-desciption-button:hover {
    color: black;
    background-color: #D9D9D9;
    transition: all .2s;
}

.ant-modal-mask {
    z-index: 1050;
}

.ant-modal-wrap {
    z-index: 1052;
}

.ant-select-dropdown {
    z-index: 1053;
}

.schema-trigger-action caption, .schema-trigger-condition caption {
    caption-side: top;
    padding-top: 0;
}

.schema-trigger-condition tbody > tr:first-child > td:first-child {
    padding: 0;
}

.schema-trigger-condition tbody > tr:first-child > td:first-child > * {
    display: none;
}

.schema-trigger td > .ant-select {
    min-width: fit-content;
    width: 100%;
}

.all-advanced-visible-switch {
    padding-right: 40px;
    float: right;
}

.schema-trigger-action {
    width: 100%;
}

.ant-modal-body .ant-tabs {
 overflow: initial !important;
}

.schema-trigger-action td{
    vertical-align: top;
}

.schema-trigger-action td:last-child{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.schema-trigger-action .trigger-action-item .trigger-action-type {
    width: 20%;
}
.schema-trigger-action .trigger-action-item .trigger-action-type + td {
    width: 40%;
}
.schema-trigger-action .trigger-action-item .trigger-action-type.full + td {
    display: none;
}

.ant-btn {
    --ant-error-color: #ff4d4f;
    --ant-error-color-hover: #ff7875;
}
.ant-btn.ant-btn-link.danger {
    color: var(--ant-error-color);
}
.ant-btn.ant-btn-link.danger:hover {
    color: var(--ant-error-color-hover);
}

.multi-select div[class*="-multiValue"]>div {
    white-space: pre !important;
}

.schema-trigger-action .ant-select > .ant-select-selection {
    height: 38px;
}

.schema-trigger-action .ant-select > .ant-select-selection > .ant-select-selection__rendered {
    padding: 4px;
}

.fk-item-checkbox {
    text-align: center;
    padding-top: 12px;
    white-space: nowrap;
}
.fk-item-checkbox > span> span:first-child {
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 0 4px;
    background-color: #d9d9d9;
    height: 15px;
    font-size: 13px;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}
