
.json-schema-react-editor .option-formStyle {
    /* padding-left: 25px; */
    padding-Top: 8px
}

.json-schema-react-editor .required-icon {
    font-size: 1em;
    color: red;
    font-weight: bold;
    padding-left: 5px
}

.json-schema-react-editor .object-style {
    /* border-left: 2px dotted gray; */
    /* padding-left: 8px; */
    padding-top: 6px;
    /* margin-left: 20px; */
    margin-top: 8px;
}


.json-schema-react-editor .col-item-type {
    text-align: center
}

.json-schema-react-editor .down-style {
    cursor: pointer;
}


.json-schema-react-editor .col-item-desc {
    text-align: center
}

.json-schema-react-editor .col-item-mock {
    text-align: center;
    padding-right: 16px;
}

.json-schema-react-editor .col-item-setting {
    padding-left: 16px;
    cursor: pointer;
}

.json-schema-react-editor .plus {
    color: #2395f1
}

.json-schema-react-editor .close {
    color: #ff561b
}

.json-schema-react-editor .warning {
    color: #ffb818
}

.json-schema-react-editor .array-type {
    margin-top: 8px;
}

.json-schema-react-editor .object-style .name-item .ant-input-group-addon {
    background-color: unset;
    border: unset;
}

.json-schema-react-editor .object-style .name-item .ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.json-schema-react-editor .icon-object {
    color: #0d1b3ea6;
    font-weight: 400;
    font-size: 10px;
}

.json-schema-react-editor .down-style-col {
    width: 10px;
}


.json-schema-react-editor .wrapper {
    padding-left: 8px;
}

.json-schema-react-editor .type-select-style {
    width: 80%
}

.json-schema-react-editor-import-modal .ant-tabs-nav .ant-tabs-tab {
    height: auto
}

.json-schema-react-editor-adv-modal .other-row.hide {
    display: none;
}

.json-schema-react-editor-adv-modal .other-label {
    text-align: right;
    padding-inline-end: 8px;
}
.json-schema-react-editor-adv-modal .other-label.left {
    text-align: left;
}
.json-schema-react-editor-adv-modal .ant-row-flex.inverted {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
}
.json-schema-react-editor-adv-modal .ant-row-flex.vertical {
    flex-direction: column;
    align-items: flex-start;
}
.json-schema-react-editor-adv-modal .ant-row-flex.vertical.inverted {
    gap: 0;
    flex-direction: column-reverse;
}
.json-schema-react-editor-adv-modal .ant-row-flex.vertical .ant-col + .ant-col {
    height: 34px;
    align-items: center;
    display: flex;
}

.fk-settings .ant-select-selection {
    height: 38px;
}
.fk-settings .ant-select-selection .ant-select-selection__rendered {
    height: 100%;
    display: flex;
    align-items: center;
}
.fk-settings .fk-item-checkbox,
.fk-settings .fk-item-action {
    padding-top: 0;
}
.fk-settings .fk-item-checkbox {
    gap: 4px;
    display: flex;
    justify-content: center;
}
.fk-settings .fk-item-checkbox > span {
    display: inline-flex;
    align-items: center;
    background: #d9d9d9;
    border-radius: 3px;
    padding-right: 2px;
    height: 20px;
}
.fk-settings .fk-item-checkbox > span > span {
    font-weight: 600;
    height: 20px;
}
.fk-settings .fk-item-checkbox > span > label {
    display: flex;
}
.fk-settings .fk-item-checkbox > span > label .ant-checkbox {
    display: flex;
    align-items: center;
    top: 0;
}
.fk-settings .fk-list:last-child {
    margin-bottom: 0;
}

/* Common styles */
.gap-10 {
    gap: 10px;
}
.ant-input-number.full {
    width: 100%;
}
.ant-select.full {
    width: 100%;
}
.input-like-height {
    height: 32px;
    align-items: center;
    display: flex;
}
.sr-only {
    display: none;
}

.json-schema-react-editor-adv-modal .default-setting {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    border-left: 3px solid #2395f1;
    padding-left: 8px;
}

.json-schema-react-editor-adv-modal .ant-modal-body {
    min-height: 400px;
}

.json-schema-react-editor-adv-modal .ant-modal-body .ace_editor {
    min-height: 350px;
}

.json-schema-react-editor-adv-modal-select .format-items-title {
    color: #999;
    position: absolute;
    right: 16px;
}

.ant-modal-close .ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advanced-property span {
    color: #1890ff;
}

.form-control.rbt-input {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 5px;
}
.form-control.rbt-input .rbt-token-removeable .rbt-token-remove-button {
    border: none;
    background: transparent;
}
.rbt-aux .rbt-close {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ant-tabs-bar {
    margin-bottom: 32px;
}
.ant-switch {
    min-width: 30px;
    height: 18px;
}
.ant-switch::after {
    width: 14px;
    height: 14px;
}
.ant-switch-inner {
    margin-left: 20px;
}
.ant-switch-checked .ant-switch-inner {
    margin-right: 20px;
}

.ant-modal-title > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}